---
title: "Categories"
layout: default
permalink: "/categories.html"
---
<div class="tag-container">
{% assign sorted_cats = site.categories | sort %}
{% for category in sorted_cats %}
{% capture category_name %}{{ category | first }}{% endcapture %}
  <a href="{{site.baseurl}}/categories#{{category_name | replace: " ", "-"}}"><span class="text-capitalize badge badge-primary text-small" STYLE="font-size:1.5em">{{category_name}}</span></a>
{% endfor %}
</div>

{% for category in sorted_cats %}
<h4 class="mt-5 mb-neg-30" id="{{ category[0] | replace: " ","-" }}"><span class="text-capitalize badge badge-primary text-small">{{ category[0] }}</span></h4>
<div class="blog-grid-container">
{% assign pages_list = category[1] %}
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group %}
{% include postbox.html %}
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
</div>
{% endfor %}
