---
title: "Tags"
layout: default
permalink: "/tags.html"
---
<div class="tag-container">
{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
{% capture tag_name %}{{ tag | first }}{% endcapture %}
  <a href="{{site.baseurl}}/tags#{{tag_name | replace: " ", "-"}}"><span class="text-capitalize badge badge-primary text-small" STYLE="font-size:1.5em">{{tag_name}}</span></a>
{% endfor %}
</div>

{% for tag in sorted_tags %}
<h4 class="mt-5 mb-neg-30" id="{{ tag[0] | replace: " ","-" }}"><span class="text-capitalize text-small badge badge-primary">{{ tag[0] }}</span></h4>
<div class="blog-grid-container">
{% assign pages_list = tag[1] %}
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group %}
{% include postbox.html %}
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
</div>
{% endfor %}
